{% load static %}

<html lang="ja">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=
        1,shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        
        <title>{% block title %}{% endblock %}</title>     

        <!-- 各々のCSSファイル参照　-->
        <link rel="stylesheet" type="text/css" href="{% static 'css/tabi.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/squno.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/todo.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/tsuji.css' %}">

        <!-- jQuery-->
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">

        {%block head %}{% endblock %}
    </head>

    <body>
        <a href="#page_top" class="page_top_btn">↑</a>
        <div id="page_top"></div>
        <div id="wrapper">

            <header>
                <h1 class="headline">
                    <a href="{% url 'generate:index' %}">AI chan</a>
                </h1>
                <ul class="nav-list">
                    <li class="nav-list-item">
                        <a href="{% url 'generate:generate' %}">generate</a>
                    </li>
                    <li class="nav-list-item">
                        <a href="#">identify</a>
                    </li>
                    <li class="nav-list-item">
                        <a href="#">modify</a>
                    </li>
                </ul>
            </header>

    

            {% block contents%}{% endblock %}

            <!-- Footer -->

            <footer>
                <ul class="footer-menu">
                <p class="footer-copy">Copyright &copy;Fuuuuun 2022</p>
            </footer>

            <!-- jQuery -->
            <script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

            <!-- push.js -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/push.js/0.0.11/push.min.js"></script>
            
            <!-- 各々のjsファイルの参照 -->
            <script src="{% static 'js/tabi.js' %}"></script>
            <script src="{% static 'js/squno.js' %}"></script>
            <script src="{% static 'js/todo.js' %}"></script>
            <script src="{% static 'js/tsuji.js' %}"></script>

            <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

        </div>
        {% block extrajs %}{% endblock %}
    </body>
</html>