{% load static %}

<html lang="ja">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=
        1,shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        
        <title>{% block title %}{% endblock %}</title>     

        <!-- 各々のCSSファイル参照　-->
        <link rel="stylesheet" type="text/css" href="{% static 'css/tabi.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/squno.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/kaneta.css' %}">

        {%block head %}{% endblock %}
    </head>

    <body>
        <div id="wrapper">
            <!-- Navigation-->
            <nav>
                
            </nav>
            

            {% block header%} {% endblock %}

    

            {% block contents%}{% endblock %}

            <!-- Footer -->

            <footer>
                <ul class="footer-menu">
                <p class="footer-copy">Copyright &copy;Fuuuuun 2022</p>
            </footer>

            <!-- 各々のjsファイルの参照 -->
            <script src="{% static 'js/tabi.js' %}"></script>
            <script src="{% static 'js/squno.js' %}"></script>
            <script src="{% static 'js/kaneta.js' %}"></script>

        </div>
    </body>
</html>