{% load static %}

<html lang="ja">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=
        1,shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/my.css' %}">     

        <!-- Custom fonts for this template-->
        <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200
        300,400,400i,700,700i,900,900i" rel="stylesheet">

        <!-- Custom styles for this template-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet">

        <!-- My style-->
        <link rel="stylesheet" type="text/css" href="{% static 'css/mystyle.css' %}">
        {%block head %}{% endblock %}
        <link href='https://fonts.googleapis.com/css?family=Raleway:400,200' rel='stylesheet' type='text/css'> 
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/vegas/2.4.4/vegas.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.css"> 
    </head>

    <body>
        <div id="wrapper">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark navbar-custom
            fixed-top">
                <div class="container">
                        <a class="navbar-brand" href="#">PRIVATE DIARY</a>
                        <button class="navbar-toggler" type="button" data-toggle="c
                        ollapse" data-target="#navbarResponsive" arei-controls="navbaraResponsive"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbaraResponsive">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item {% block active_inquiry %}{% endblock%}">
                                <a class="nav-link" href="#">INQUIRY</a>
                            </li>
                            {% if user.is_authenticated %}
                            <li class="nav-item {% block active_my_diary_list %}{% endblock %}">
                                <a class="nav-link" href="#">MY DIARY LIST</a>
                            </li>
                            {% endif %}
                            {% if not user.is_authenticated %}
                            <li class="nav-item {% block active_diary_list %}{% endblock %}">
                                <a class="nav-link" href="#">DIARY LIST</a>
                            </li>
                            {% endif %}

                        </ul>
                        <ul class="navbar-nav ml-auto">
                            {% if user.is_authenticated %}
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Log Out</a>
                                </li>
                            {% else %}                           
                                <li class="nav-item {% block active_signup %}{% endblock %}">
                                    <a class="nav-link" href="#">Sign Up</a>
                                </li>
                                <li class="nav-item {% block active_login %}{% endblock %}">
                                    <a class="nav-link" href="#">Log In</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>

            {% block header%} {% endblock %}

    

            {% block contents%}{% endblock %}

            <!-- Footer-->
            <footer class="py-5 bg-black">
                <div class="container">
                    <p class="m-0 text-center text-white small">Copyright &copy;Private Diary 2022</p>
                </div>
                <!-- /.container-->
            </footer>

            <!-- Bootstrap core JavaScript-->
            <script src="{% static 'vendor/bootstrap/js/bootstrap.bandle.min.js' %}"></script>
            <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
            <script src="https://rawgit.com/kimmobrunfeldt/progressbar.js/master/dist/progressbar.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/vegas/2.4.4/vegas.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.js"></script>
            <script src="{% static 'js/my.js' %}"></script>
        </div>
    </body>
</html>