{% extends 'base.html' %}

{% load static %}

{% block title %}Aichan | 画像生成{% endblock %}

{% block contents %}
<!-- 田平氏　-->
<!--<link rel="stylesheet" href="./css/tabi.css">-->
<div class="my-div-style">

    <h1 class="title_hosikawa" id="title">生成モデルの選択</h1><br>

        <a href="{% url 'generate:make' %}">風景画</a><br>
        <a href="{% url 'generate:make' %}">女の子</a><br>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="{% static 'js/squno.js' %}"></script>
{% endblock %}

