{% extends 'base.html' %}

{% load static %}

{% block title %}Aichan | 画像生成{% endblock %}

{% block contents %}
<!-- 田平氏　-->
<!--<link rel="stylesheet" href="./css/tabi.css">-->
<div class="my-div-style">
    
    <form action="#" method="post">

        <h3>○○風</h3>
        {% for object in object_list %}    
            {% if object.name ==  'style' %}
            <div>    
                <input type="checkbox" name="style"  value="{{ object.word_en}}"> {{ object.word }}
            </div>
            {% endif %}
        {% endfor %}

        <h3>自然</h3>
        {% for object in object_list %}  
            {% if object.name ==  'nature' %}
            <div>
                <input type="checkbox" name="nature"  value="{{ object.word_en}}"> {{ object.word }}
            </div>
            {% endif %}
        {% endfor %}

        <h3>建物</h3>
        {% for object in object_list %}  
            {% if object.name ==  'building' %}
                <div>
                    <input type="checkbox" name="building"  value="{{ object.word_en}}"> {{ object.word }}                
                </div>
            {% endif %}
        {% endfor %}

        <h3>海</h3>
        {% for object in object_list %}
            {% if object.name ==  'sea' %}
            <div>       
                <input type="checkbox" name="sea"  value="{{ object.word_en}}"> {{ object.word }}
            </div>
            {% endif %}
        {% endfor %}

        <h3>動物</h3>
        {% for object in object_list %} 
            {% if object.name ==  'animal' %}
            <div>
                <input type="checkbox" name="animal"  value="{{ object.word_en}}"> {{ object.word }}
            </div>
            {% endif %}
        {% endfor %}
        
        <input type="submit" value="生成">
        
    </form>
</div>
<!-- 田平氏　-->
{% endblock %}