{% extends 'base.html' %}

{% load static %}

{% block title %}Aichan | 画像生成{% endblock %}

{% block contents %}
<!-- 田平氏　-->
<form action="#" method="post">
    <div>
        <h3>○○風</h3>
        <input type="checkbox" name="ish"  value="fantasy">ファンタジー
        <input type="checkbox" name="ish"  value="ghibli">ジブリ
        <input type="checkbox" name="ish"  value="horror">ホラー
    </div>

    <div>
        <h3>建物</h3>
        <input type="checkbox" name="building"  value="castre">城
        <input type="checkbox" name="building"  value="buil">ビル
        <input type="checkbox" name="building"  value="school">学校
    </div>

    <div>
        <h3>自然</h3>
        <input type="checkbox" name="nature"  value="sakura">桜
        <input type="checkbox" name="nature"  value="momiji">紅葉
        <input type="checkbox" name="nature"  value="snow">雪
    </div>

    <div>
        <h3>動物</h3>
        <input type="checkbox" name="animal"  value="dog">犬
        <input type="checkbox" name="animal"  value="cat">猫
        <input type="checkbox" name="animal"  value="shark">サメ
    </div>
</form>
<!-- 田平氏　-->
{% endblock %}