{% extends 'base.html' %}

{% load static %}

{% block title %}Web上にあなた専用の日記ページを保存できるサービス｜Private Diary{% endblock %}

<link rel="stylesheet" href="tabi.css">

{% block contents %}

<ul class="slider">
    <li class="slider-item slider-item01"></li>
    <li class="slider-item slider-item02"></li>
    <li class="slider-item slider-item03"></li>
<!--/slider--></ul>

    <br>
    <br>

<div class="fadeUp">
    
        <div class="reasons-row fixed">
            <div class="reasons-row_body">
                <h2>
                    <a href="{% url 'generate:generate' %}">画像生成</a>
                </h2>
                
                    空や桜並木、ロボット、人物に至るまでキーワードを選択することで、画像生成することができます
                
            </div>
            <div class="reasons-row_img">
                <img src="./static/img/jumon2222.png">
            </div>
        </div>

    <div class="reasons-row">
        <div class="reasons-row_body">
            <h2>
                    <a href="{% url 'modify:modify' %}">画像加工</a>
            </h2>
            <p>
                画像をアップロードし、お好みの画像加工をすることができます
            </p>
        </div>
        <div class="reasons-row_img">
            <img src="./static/img/jumon1111.png">
        </div>
    </div>

    <div class="reasons-row fixed">
        <div class="reasons-row_body">
            <h2>
                <a href="{% url 'identify:identify' %}">画像識別</a>
            </h2>
            <p>
                画像をアップロードし、画像識別をすることができます
            </p>
        </div>
        <div class="reasons-row_img">
            <img src="./static/img/jumon3333.png">
        </div>
    </div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="{% static 'js/squno.js' %}"></script>
{% endblock %}


